export AT=217952889-NZXcnpBM7zkwiWyOgbslkTl48GO9bubtMkEcLLep
export ATS=Si6GlMqSW2WzOPo47TQsgBQMKBOuRxDE1SSGixzdtTXZ6
export CK=EcT700TY1bxCNYQliMRknURhT
export CS=TUugbOFAkKHhrNHeSqstihoY2MHznvlEHbrRVBh4jTLVtUmtaw
export FLASK_APP=application.py
