body{
  margin: 1.5em auto;
  font-family: "Helvetica Neue", sans-serif;
  color: #575553;
  max-width: 1000px;
  padding: 0 1em;
}

h1 {
  font-size: 24px;
  line-height: 30px;
  color: #003e54;
  font-weight: bold;
  margin: 0 0 0.8em 0;
}

.tweet {
  padding: 1em;
  border-bottom: 1px solid #f0f0f0;
}

.devpost-tweet {
  background-color: #f0f0f0;
}

p {
  font-size: 14px;
  line-height: 22px;
  margin: 0 0 0.3em 0;
}

p:last-of-type {
  margin: 0;
}

span.divider-dot {
  margin: 0 0.3em;
  color: #999794;
}

.handle {
  font-weight: bold;
}

.fa-retweet {
  color: #999794;
}

a { color: #2d9eb2; text-decoration: none; }
a:active, a:hover { color: #207180; }

img { border-radius:4px; }
